body {
  background: url(/static/img/Eliza_flour_10.jpg) no-repeat center center;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(190, 200, 205) 
}



#graph {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }

#suggestions:hover {
  display: block;
}

/* .container {
  background-color: grey;
} */

a {
  color: green;
}

a:hover {
  color:red;
}

button {
  color: blue;
}

button:hover {
  color: pink;
}

  /* Nav Bar  */

.navbar {
  color: darkgray;
}

.navbar-brand {
  font-family: 'Style Script', cursive;
  font-size: xx-large;
}

.nav-link, .navbar-brand {
  color: white;
}

.nav-link:hover, .navbar-brand:hover {
  color: lightgray;
}

.nav-link:active, .navbar-brand:active {
  color: purple;
}

/* Welcome Page */

#welcome-page {
  background: rgba(112,128,144, 0.50);
}

#welcome {
  margin-top: 5 m;

}

/* Recipe Form */

#feeding {
  color: pink;
}

input[type=checkbox]:after {
  background-color: red;
  color: red;
}

/* Footer */

#footer {
  background-color: rgb(255, 225, 181);
}