body {
  background: url(/static/img/flour.jpg) no-repeat center center;
  background-size: cover;
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(190, 200, 205);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/* buttons */
.btn, .form-control {


}

#graph {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }

/* .container {
  background-color: grey;
} */

a {
  color: green;
}

a:hover {
  color:red;
}

button {
  color: blue;
}

button:hover {
  background-color: rgb(214, 148, 214);
  color: black;
}

button:active {
  color: purple
}

  /* Nav Bar  */

.navbar {
  color: darkgray;
}

.navbar-brand {
  font-family: 'Style Script', cursive;
  font-size: xx-large;
}

.nav-link, .navbar-brand {
  color: white;
}

.nav-link:hover, .navbar-brand:hover {
  color: lightgray;
}

.nav-link:active, .navbar-brand:active {
  color: purple;
}

/* Welcome Page */

#welcome {
  margin-top: 5 m;

}

/* Recipe Form */


/* Footer */

#footer {
  background-color: rgb(255, 225, 181);
}

/* User */

.card-link {
  color: purple
}