<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Allows webpage to be responsive -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

    <!-- Flask flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <div>
        <img src="static/img/wheat.jpeg" width="100%" height="140">
        <!-- image at center, fading into white at the sides, then white background scales to size -->
    </div>

    <!-- Nav Bar -->
    <nav>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="static/img/gelatinouslullaby1500.png" width="120" height="96" role="img" aria-label="Bootstrap">
            <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
            </a>

            <ol class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><a href="/" class="nav-link px-3">Home</a></li>
                <li><a href="/user" class="nav-link px-2">Your Recipes</a></li> 
                <li><a href="/test-recipe" class="nav-link px-2">Test a Recipe</a></li> 

                <!-- How to get two links to right side - justify-content-end? -->
                <li><a href=/new-user class="nav-link px-2">Join</a></li>
                <li><a href="/" class="nav-link px-2">Login</a></li> 
            </ol>
            

            <!-- <div class="text-end">
                <li><a href=/new-user class="nav-link px-2 text-black justify-content-end">Join</a></li>
                <li><a href="/" class="nav-link px-2 text-black">Login</a></li>  -->
            <!-- <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button> -->

        </div>
    </nav>

    {% block body %}BODY GOES HERE{% endblock %}  
    
    {% block after_body %}AFTER BODY GOES HERE{% endblock %}

    <!-- Bootstrap JS and Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>