<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Allows webpage to be responsive -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

    <!-- Flask flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Custom Font (Satisfy by Sideshow) -->
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
    
    {% block scripts %}{% endblock %}

</head>
<body>
    <div>
        <img src="/static/img/wheat.jpeg" width="100%" height="140">
        <!-- image at center, fading into white at the sides, then white background scales to size -->
    </div>

    <!-- Nav Bar -->
    <!-- <nav>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="static/img/gelatinouslullaby1500.png" width="120" height="96" role="img"> -->
            <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
            <!-- </a>

            <ul class="nav col-10 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><a href="/" class="nav-link px-3">Home</a></li>
                <li><a href="/user" class="nav-link px-2">Your Recipes</a></li> 
                <li><a href="/test-recipe" class="nav-link px-2">Test a Recipe</a></li> 
            </ul>

            <ul class="nav col-2 col-lg-auto me-lg-auto mb-2 mb-md-0"> -->
                <!-- How to get two links to right side - justify-content-end? -->
                <!--  
            </ul> -->


            <!-- <div class="text-end">
                <li><a href=/new-user class="nav-link px-2 text-black justify-content-end">Join</a></li>
                <li><a href="/" class="nav-link px-2 text-black">Login</a></li>  -->
            <!-- <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button> -->

        <!-- </div>
    </nav> -->




    <!-- navbar-light bg-dark -->
    <nav class="navbar navbar-expand-lg bg-secondary"> 
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/static/img/gelatinouslullaby1500.png" width="50" height="50" class="d-inline-block align-top" alt="">
            Breadventure
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="/" class="nav-link active px-3">Home</a>
              </li>
              <li class="nav-item">
                <a href="/user" class="nav-link active px-2">Your Recipes</a>
              </li> 
              <li class="nav-item">
                <a href="/test-recipe" class="nav-link active px-2">Test a Recipe</a>
              </li>
              
            </ul>
            <span class="d-flex">
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button> -->
              <li class="d-flex justify-content-end nav-item">
                  <a class="nav-link px-2 d-flex" href="/new-user">Join</a>
              </li>
              <li class="d-flex justify-content-end nav-item">
                  <a class="nav-link px-2" href="/">Login</a>
              </li>

            </span>
          </div>
        </div>
      </nav>








    {% block body %}BODY GOES HERE{% endblock %}  
    
    {% block after_body %}

    Breadventure, for all your experiments in breadmaking! Brought to you by a year in quarantine.
    
    {% endblock %}

    <!-- Bootstrap JS and Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>