{% extends 'base.html' %}

{% block title %}Create a new bread recipe!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Please input your current experiment.</h1>
    <div class="container">
        <form action='/create-feeding' method='POST' enctype="multipart/form-data">
            <label>Date.</label>
            <input type="date" name="date" required>
            <label>Instructions.</label>
            <input type="text" name="instructions" required> 
            <label>Name of your recipe.</label>
            <input type="text" name="name">
            <label>Observations.</label>
            <input type="text" name="observations">
            <label>Baking time.</label>
            <input type="number" name="baking-time">
            <label>Baking temperature.</label>
            <input type="number" name="baking-temp">

            <!-- cloudinary experiment -->
            <label for="img">Upload photo.</label>
            <input type="file" id="img" name="img" accept="image/*">

            <button type='submit'>Experiment!</button>  
        </form>
    </div>

    <!-- could have N/A radio button option for nullable fields, makes it NONE -->
    </div>  
{% endblock %}