{% extends 'base.html' %}

{% block title %}Breadventure - Welcome!{% endblock %}

{% block body %}
    <div class="container" id="welcome-page">
        <div class="row">
            <h1 id="welcome" class="col-12 mt-5 mb-3 position-relative d-flex justify-content-center">Welcome!</h1>
        </div>
        <div class="row">
            <p class="col-8 offset-2 d-flex justify-content-center">
                Breadventure is the place to record all your experiments with breadmaking and fermentation.
            </p>
            <p class="col-8 offset-2 d-flex justify-content-center">
                Keep track of your recipes as you develop them over time and watch yourself grow as a baker.
                Your explorations will be kept for you along with your sourdough starter feedings in a journal 
                with baker’s percentages baked in.   
            </p>
            <p class="col-8 offset-2 d-flex justify-content-center">
                Raise exceptionally!
            </p>
        </div>
        <div class="row">
            <h3>Please log in:</h1>
        </div>

        <div class='container' id="login-form">
            <form action='/login' method='POST'>
                <div class="row">
                    <span class="col-4 mb-3">
                        <label for="new-email" class="form-label">Email</label>
                        <input type="text" id="new-email" class="form-control" name="email"> 
                    </span>
                    
                </div>
                <div class="row">
                    <span class="col-4 mb-3">
                        <label for="new-password" class="form-label">Password</label>
                        <input type="password" id="new-password" class="form-control" name="password">
                    </span>
                </div>
                
                <div class="row">
                    <span class="col-4 mt-3 mb-3">
                        <button type='submit' class="form-control btn-secondary">Log in.</button>
                    </span>
                </div>
                <div class="row">
                    <span class="col-4 mb-3">
                        Or
                        <a href='/new-user' class="link-warning"> make an account.</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}