{% extends 'base.html' %}

{% block title %}Welcome to Breadventure!{% endblock %}

{% block body %}
    <div class="container" id="welcome-page">
        <div class='row'>
            <h1 id="welcome" class="col-12 position-relative">Welcome!</h1>
        </div>

        <div class='row ' id="login-form">
            <form action='/login' method='POST'>
                <div class="col-12">
                    <label class="home-form-label">Email.</label>
                    <input type="text" name="email"> 
                </div>
                <div>
                    <label class="home-form-label">Password.</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <button type='submit'>Log in.</button>
                    Or
                    <a href='/new-user'> make an account.</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}