{% extends 'base.html' %}

{% block title %}Breadventure - Join!{% endblock %}

{% block body %}
    <div class="container">

        <div class="container mt-3 mb-4">
            <h1>Make an account!</h1>
        </div>

        <div class="container">
            <form action='/register-user' method='POST'>
                <div class="row">
                    <span class="col-4 mb-3 offset 8">
                        <label for="username" class="form-label">Username</label>
                        <input type="username" class="form-control" name="username" required>
                    </span>
                </div>
                <div class="row">
                    <span class="col-4 mb-3 offset 8">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" required> 
                    </span>
                </div>
                <div class="row">
                    <span class="col-4 mb-3 offset 8">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </span>
                </div>
                <div class="row">
                    <span class="col-4 mt-4 mb-3 offset 8">
                        <button type="submit" class="form-control btn-secondary">Make my account!</button> 
                    </span>
                </div>     
            </form>
        </div>       
    </div>  
{% endblock %}