{% extends 'base.html' %}

{% block scripts %}
    {# D3 #}   
    <script src="https://d3js.org/d3.v7.min.js"></script>
    {# ChartJS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
{% endblock %}

{% block title %}Welcome to Bread Journal!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4 mb-3">
            <ul>
                <h3>
                    Recipe Details
                </h3>
            </ul>
        </div>
        <div>
            <div class="row mt-4 mb-3">
                <span class="col-4">
                    <li id="date">{{ recipe.date }}</li>
                </span>
                <span class="col-4">
                    {% if recipe.name %}
                        <li id="name">{{ recipe.name }}</li>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="row mb-3">
            <span class="col-8">
                <li id="instructions">{{ recipe.instructions }}</li>
            </span>
        </div>
        <div class="row mb-3">
            <span class="col-8">
                {% if recipe.observations %}
                    <li id="observations">{{ recipe.observations }}</li>
                {% endif %}
            </span>
        </div>
        <div class="row mb-3">
            <span class="col-4">
                {% if recipe.baking_time %}
                    <li id="baking-time">{{ recipe.baking_time }}</li>
                {% endif %}
            </span>
            <span class="col-4">
                {% if recipe.baking_temp %}
                    <li id="baking-temp">{{ recipe.baking_temp }}</li>
                {% endif %}
            </span>
            <span class="col-4">
                {% if recipe.is_starter_feeding is true %}
                    <li id="feeding">Is a starter feeding!</li>
                {% endif %}
            </span>
        </div>
    <div class="container">
        <div class="row mb-3">
            {% if recipe.picture %}
                <img src="{{ recipe.picture }}" id="img"</li>
            {% endif %}
        </div> 
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-secondary table-striped table-bordered" style="width: 65%;">
                <thead>
                    <tr>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Amount in Grams</th>
                    </tr>
                </thead>
                <tbody>
                    {% for amount in amounts %}
                        <tr>
                            <td>{{ amount.ingredient.name }}</td>
                            <td>{{ amount.amount_in_grams }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
         
                    
        

        <div id="graph" class="container">
            <canvas id="graph-canvas"></canvas>
            
        </div>

        <div class='container'>
            <form>
                <button type="button" id="delete" class="btn btn-secondary">Delete Recipe.</button>
            </form>
        </div>

        <div class='container'>
            <a href='/user'>Back</a>
        </div>
        
        <script src="/static/js/recipe_details.js" type="text/javascript"></script>
    </div>
{% endblock %}