{% extends 'base.html' %}

{% block title %}Create a new bread recipe!{% endblock %}

{% block body %}
    <div class='container'>
        <h1>Please input your current experiment.</h1>
    </div>

    <div class='container'>
        <form action='/create-recipe' method='POST' id='create-recipe-form'>
            <label>Date.</label>
            <input type="date" name="date" required>
            <label>Instructions.</label>
            <input type="text" name="instructions" required> 
            <label>Name of your recipe.</label>
            <input type="text" name="name">
            <label>Observations.</label>
            <input type="text" name="observations">
            <label>Baking time.</label>
            <input type="number" name="baking-time">
            <label>Baking temperature.</label>
            <input type="number" name="baking-temp">

            <label>Ingredients</label>
            <button type="button" id="add-ingredients">Add Ingredients</button>
            <div class="containter" id="ingredients-input"></div>
            <div class="containter" id="ingredients-display">
                <table id="ingredients-table"></table>
            </div>
         
            <button type='submit'>Experiment!</button>  
        </form>

    </div>

    <script src="/static/js/new_recipe.js" type="text/javascript"></script>
{% endblock %}

 <!-- {% for ingredient in ingredients %}
                <option value="{{ ingredient }}">{{ ingredient }}</option>
            {% endfor %} -->