{% extends 'base.html' %}

{% block title %}Create a new bread recipe!{% endblock %}

{% block body %}
    <h1>Please input your current experiment.</h1>

    <form action='/create-recipe' method='POST'>
        <label>Username.</label>
        <input type="username" name="username">
        <label>Email.</label>
        <input type="text" name="email"> 
        <label>Password.</label>
        <input type="password" name="password">
        <button type='submit'>Make my account!</button> 
    </form>

    <!-- could have N/A radio button option for nullable fields, makes it NONE -->
        
{% endblock %}