{% extends 'base.html' %}

{% block title %}Breadventure - View Recipes!{% endblock %}

{% block body %}
    <div class='container mt-3'>
        <h1>Welcome {{ username }}! </h1>

        <div class='container'>
            <div class="row">
                <h5 class="col-3 mb-3">
                    Your Recipes
                </h5>
            </div>
        </div> 
        {% if recipes == [] %}
            <div class="container">
                <div class="row">
                    <span>
                        You don't have any recipes yet! 
                        <a href='/test-recipe' class="link-warning">Make your first recipe.</a>
                    </span>
                </div>
            </div>
        {% endif %}

        <div class="container">   
            <div class="row mt-3">
                {% for recipe in recipes %}
                    <div class="col-3 mb-4">
                        <div class="card h-100">
                            <div class="card-body" style="color: rgb(63, 63, 63);">
                                <h5 class="card-title">
                                    {{ recipe.name }}
                                </h5>
                                <h6 class="card-subtitle mb-2">
                                    {{ recipe.date }}
                                </h6> 
                                <a href="/experiment/{{ recipe.id }}" class="card-link link-danger">
                                    Details
                                </a>
                            </div>
                            {% if recipe.is_starter_feeding is true %}
                                <div class="card-footer" style="color: rgb(59, 59, 59)">
                                    Starter!
                                </div>    
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>     
{% endblock %}